/*----- Styles Généraux -----*/
:root {
    --gris-fonce: #3C3C3C;
    --vert-fonce: #2F8032;
    --vert-pale: #7FBE77;
    --cyan: #91B7A4;
    --blanc-rose: #F1E8F4;


    --font-inknut: 'Inknut_Antiqua', sans-serif;
    --font-tt: 'tt_rounds_neue', sans-serif;




  }

/*------ Section Hero ------*/


/*------ CSS pour aligner le footer qui sera le site de base ainsi que le disclaimer pour les copyright. ------*/

footer {
  text-align: center;
  background-color: #464646;
  color: white; 
  padding: 15px; 
}