/*----- Styles Généraux -----*/
:root {
    --gris-fonce: #3C3C3C;
    --vert-fonce: #2F8032;
    --vert-pale: #7FBE77;
    --cyan: #91B7A4;
    --blanc-rose: #F1E8F4;


    --font-inknut: 'Inknut_Antiqua', sans-serif;
    --font-tt: 'tt_rounds_neue', sans-serif;




  }

/*------ Section Hero ------*/